<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.championsaleatoria">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_campofutbol"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Cuartos_de_final"></activity>
        <activity android:name=".Champion" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Reglas" />
        <activity android:name=".Seleccion" />
        <activity android:name=".SemiFinal" />
        <activity android:name=".Final" />
    </application>

</manifest>